.borderless-card {
  border: none;
  border-bottom: 1px dotted lightgray;
  border-radius: 0%;
  margin-bottom: 1rem;
}
.navbar {
  margin-left: 12px !important;
  margin-right: 12px !important;
}
.image_container {
  width: 100%;
}
.image-container > div {
  position: unset !important;
}
.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.image_preview {
  width: 20%;
  margin-top: 10px;
}
